[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "getable"]
	path = getable
	url = https://github.com/liao961120/getable
[submodule "linguisticsdown"]
	path = linguisticsdown
	url = https://github.com/liao961120/linguisticsdown
